/*Скидання базових стилів*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #eef2f7;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 25px;
  letter-spacing: 1px;
}

main {
  flex: 1;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.box {
  background: white;
  border: 3px solid #333;
  padding: 15px;
  width: 220px;
  border-radius: 12px;
  text-align: center;

  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.box:hover {
  transform: translateY(-5px) scale(1.03);
}

.box img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
}

/*Планшет*/
@media (max-width: 1024px) {
  .box {
    width: 45%;
    background: #dfefff;
  }
}

/*Телефон*/
@media (max-width: 600px) {
  header {
    font-size: 18px;
    padding: 15px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
    font-size: 18px;
    background: #c7ffd8;
  }
}
